header {
  width: 100%;
  margin: 0px 16px 64px 16px;
}

.header-logo {
  margin: 40px 0px 16px 0px;
  width: 119px;
  height: 46px;
}

.main-header-section {
  margin: 100px 16px 16px 0px;
  display: flex;
}

.header-text-section {
  flex: 1;
}

.header-h1 {
  font-family: 'Nerko-One';
  color: var(--primary-color-orange);
  font-size: 104px;
}

.header-text {
  font-size: 'Mulish-Semibold';
  font-weight: 600;
  font-size: 24px;
  color: var(--white-color);
  margin-bottom: 40px;
}

.header-img {
  width: 420px;
  height: 426px;
  margin-left: 24px;
  position: relative;

  &__nohover {
    position: absolute;
    inset: 0;
    transition: all ease-in-out 500ms;
  }

  &__hover {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all ease-in-out 500ms;
  }

  &:hover {
    .header-img__nohover {
      opacity: 0;
    }

    .header-img__hover {
      opacity: 1;
    }
  }
}

.header-btn {
  position: absolute;
  margin-top: 32px;
}

.btn-img {
  position: absolute;
  opacity: 0;
  top: 9px;
  right: 16px;

  // Beim Verlassen: sehr schnell ausblenden
  transition: opacity 100ms ease-in;
}

.btn {
  display: block;
  cursor: pointer;
  position: relative;
  font-family: 'Nokora-bold';
  font-weight: 700;
  padding: 12px 16px;
  border-radius: 10px;
  color: rgba(34, 18, 39, 1);
  background-color: var(--secondary-color-orange);
  width: 90px;
  transition: all ease-in-out 350ms;

  &:hover {
    width: 120px;
    text-align: start;
    background-color: var(--primary-color-orange);

    .btn-img {
      opacity: 1;

      // 300ms warten, dann 200ms einblenden
      transition: opacity 200ms ease-in-out 300ms;
    }
  }
}
