.survey-view-section {
  margin: auto;
  display: flex;
  max-width: 1440px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 16px);
  margin: 40px 0px;
}

.header-img {
  width: 120px;
  height: 44px;
  
}

.btn-img {
  position: absolute;
  opacity: 0;
  top: 9px;
  right: 16px;
  margin-left: 8px;

  // Beim Verlassen: sehr schnell ausblenden
  transition: opacity 100ms ease-in;
}

.btn {
  display: block;
  cursor: pointer;
  position: relative;
  font-family: 'Nokora-bold';
  font-weight: 700;
  padding: 12px 16px;
  border-radius: 10px;
  color: rgba(34, 18, 39, 1);
  background-color: var(--secondary-color-orange);
  width: 110px;
  transition: all ease-in-out 150ms;
  border: unset;

  &--width {
    width: 150px;
  }

  &--area {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 32px;
  }

  &:not(:disabled):hover {
    display: flex;
    align-items: center;
    width: 160px;
    text-align: start;
    background-color: var(--primary-color-orange);

    .btn-img {
      opacity: 1;
      transition: opacity 200ms ease-in-out 200ms;
    }

    .btn-img {
      opacity: 1;

      // 300ms warten, dann 200ms einblenden
      transition: opacity 100ms ease-in-out 200ms;
    }
  }
}

.questions-and-answers-section {
  display: flex;
  gap: 48px;
  max-width: 1300px;
  width: 100%;
}

.questions-section {
  max-width: 850px;
  width: 100%;
  background-color: rgba(142, 112, 153, 0.1);
  border-top-right-radius: 160px;
  margin-left: 16px;
  margin-bottom: 16px;

  &__content {
    max-width: 770px;
    width: 100%;
    margin-top: 80px;
    margin-left: 32px;
  }
}

.answers-section {
  flex: 1;
  margin-top: 110px;
  margin-right: 16px;
}

.no-answers-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;
  height: 220px;

  &__header {
    color: rgba(53, 39, 58, 1);
    font-family: 'Mulish-Bold';

    &--text {
      width: 100%;
      text-align: center;
    }
  }
}

.answers-section-h2 {
  color: rgba(34, 18, 39, 1);
  font-size: 32px;
  font-family: 'Nerko-One';

  &--color {
    color: rgba(255, 183, 112, 1);
  }
}

.question {
  display: flex;
  flex-direction: column;
  width: 49%;
  font-family: 'Mulish-Bold';
  margin-bottom: 24px;

  &--answer {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 8px;
  }
}

.answers {
  padding-left: 8px;

  &--number {
    color: rgba(215, 148, 81, 1);
    font-family: 'Mulish-Extrabold';
    margin-left: 12px;
  }
}

.progress-bar {
  max-width: 235px;
  width: 100%;

  height: 10px;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar::-webkit-progress-bar {
  background-color: rgba(237, 237, 237, 1);
  border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
  background-color: rgba(255, 183, 112, 1);
  border-radius: 10px;
}

.progress-bar::-moz-progress-bar {
  background-color: rgba(255, 183, 112, 1);
  border-radius: 10px;
}

li {
  margin-left: 32px;
}

.batch {
  font-family: 'Mulish-Medium';
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 22px;
  bottom: 0px;
  background-color: var(--secondary-color-orange);
  padding: 3px 6px;
  border-top-right-radius: 14px;
  margin-bottom: 8px;
}

.date-category-section {
  width: 100%;

  &__enddate {
    display: flex;
    justify-content: space-between;

    &--design {
      color: rgba(53, 39, 58, 1);
      font-family: 'Mulish-Medium';
    }
  }
}

.questions-header-content {
  margin: 24px 0px;

  &--h1 {
    margin-bottom: 12px;
    color: rgba(238, 146, 54, 1);
    font-family: 'Nerko-One';
    font-size: 56px;
  }
}

.questions-header {
  margin-bottom: 40px;
}

.questions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;

  &--h3 {
    font-size: 18px;
    color: rgba(53, 39, 58, 1);
    font-family: 'Mulish-Bold';
  }
}

.questions-card {
  margin-bottom: 16px;
}

.error-message {
  color: rgb(209, 8, 8);
  font-family: 'Nokora-bold';
  margin-right: 24px;
}

.answer {
  &-card {
    display: flex;
    align-content: center;
    margin: 6px 0px;
    padding: 4px;

    &:hover {
      background-color: rgba(255, 207, 161, 0.4);
    }
  }

  &__checkbox {
    &--text {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      font-family: 'Mulish-Regular';
    }

    &--checkbox {
      appearance: none;
      width: 18px;
      height: 18px;
      margin-right: 4px;

      background-image: url('../../../assets/checkbox_black.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      cursor: pointer;

      &:checked {
        background-image: url('../../../assets/checkbox-checked-answers.png');
      }
    }
  }
}

.cancel-button,
.show-reslults-button {
  display: none;
}

.btn--submitted {
  opacity: 0.5;
  cursor: not-allowed;
  width: 160px;
}
