@media (max-height: 768px) {
  .survey-header {
    margin: 8px 0px;
  }

  .questions-section__content {
    margin-top: 40px;
  }

  .questions-header-content--h1 {
    font-size: 40px;
}


.questions-header-content {
    margin: 12px 0px;
}

.questions-header {
    margin-bottom: 20px;
}

.questions-card {
    margin-bottom: 0px;
}

.answer-card {
    margin: 4px 0px;
    padding: 4px;
}
}