@media (max-height: 768px) {
  .survey-header {
    margin: 8px 0px;
  }

  .questions-section__content {
    margin-top: 40px;
  }

  .questions-header-content--h1 {
    font-size: 40px;
  }

  .questions-header-content {
    margin: 12px 0px;
  }

  .questions-header {
    margin-bottom: 20px;
  }

  .questions-card {
    margin-bottom: 0px;
  }

  .answer-card {
    margin: 4px 0px;
    padding: 4px;
  }
}

@media (max-width: 1024px) {
  .questions-section {
    width: 60%;
  }

  .questions-section__content {
    max-width: unset;
    width: unset;
  }

  .date-category-section {
    width: 90%;
  }

  .btn--area {
    width: 93%;
  }
}

@media (max-width: 800px) {
  .btn {
    display: none;
  }

  .questions-and-answers-section {
    flex-direction: column;
  }

  .questions-section {
    width: calc(100% - 32px);
    border-top-right-radius: 100px;
  }

  .questions {
    column-gap: 12px;
  }

  .button-area {
    display: flex;
    justify-content: space-between;
    
  }

  .cancel-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 183, 112, 0.3);
    width: 32px;
    height: 32px;
    border-radius: 10px;
    transition: all ease-in-out 250ms;
    cursor: pointer;

    &:hover {
      background-color: rgba(174, 126, 90);
    }
    > span {
      color: rgba(254, 253, 255, 1);
      font-family: 'Nokora-bold';
      font-size: 16px;
    }

    > img {
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: 670px) {
}
