<section class="survey-view-section">
  <!-- Header Section -->
  <header class="survey-header">
    <a routerLink="/">
      <img class="header-img" src="assets/poll_app_logo_dark.svg" alt="" />
    </a>
    <a (click)="createSurveyService.open()" class="btn"
      >Create survey<img class="btn-img" src="assets/add_black.svg" alt=""
    /></a>
  </header>

  <!-- questions and answers Section -->
  <section class="questions-and-answers-section">
    <!-- Questions -->
    <section class="questions-section">
      <section class="questions-section__content">
        <header class="questions-header">
          <section class="date-category-section">
            <div class="button-area">
              <p class="batch">Published</p>

              <a type="button" class="cancel-button" routerLink="/">
                <img src="assets/close.svg" alt="" />
              </a>
            </div>
            <div class="date-category-section__enddate">
              <p class="date-category-section__enddate--design">
                Ends on {{ survey().endDate | date: 'dd.MM.yyyy' }}
              </p>
              <p class="date-category-section__enddate--design">
                Category: {{ survey().category }}
              </p>
            </div>

            <div class="questions-header-content">
              <h1 class="questions-header-content--h1">Let’s Plan the Next Team Event Together</h1>
              <p class="date-category-section__enddate--design">
                We want to create team activities that everyone will enjoy – share your preferences
                and ideas in our survey to help us plan better experiences together.
              </p>
            </div>
          </section>
        </header>
        <section class="questions">
          @for (question of survey().questions; track question.id) {
            <div class="question">
              <div class="questions-card">
                <h3 class="questoins--h3">{{ $index + 1 + '. ' + question.question }}</h3>
                @if (question.allowMultipleAnswers) {
                  <p>More than one answers are possible.</p>
                } @else {}
              </div>
              <ol type="A">
                @for (answer of question.answers; track answer.id) {
                  <label class="answer-card">
                    <input
                      class="answer__checkbox--checkbox"
                      type="checkbox"
                      [disabled]="survey().isSubmitted || surveyEnded()"
                      [checked]="getSelectedAnswers(question.id!).includes(answer.id!)"
                      (change)="
                        selectAnswer(question.id, answer.id, question.allowMultipleAnswers, $event)
                      "
                    />

                    <li class="answer">
                      {{ answer.answer }}
                    </li>
                  </label>
                }
              </ol>
            </div>
          }
        </section>
        <div class="btn--area">
          @if (submitAttempted() == true) {
            <p class="error-message">Please select at least one answer.</p>
          }
          <button
            type="button"
            class="btn btn-survey btn--width"
            [disabled]="survey().isSubmitted || surveyEnded()"
            [class.btn--submitted]="survey().isSubmitted || surveyEnded()"
            (click)="submitSurvey()"
          >
            @if (surveyEnded()) {
              Survey ended
            } @else if (survey().isSubmitted) {
              Already submitted
            } @else {
              Complete survey
            }

            <img class="btn-img" src="assets/check.svg" alt="" />
          </button>
        </div>
      </section>
    </section>

    <button type="button" class="show-reslults-button" (click)="toggleResults()">
      @if (isClosed()) {
        See results
      } @else {
        Close results
      }

      <img
        class="dropdown-img"
        [class.dropdown-img--open]="!isClosed()"
        src="assets/arrow_drop_down.png"
        alt=""
      />
    </button>

    <!-- Answers -->
    <div class="answers-dropdown" [class.answers-dropdown--open]="!isClosed()">
      <div class="answers-dropdown__content">
        <article class="answers-section">
          <h2 class="answers-section-h2">
            Survey results
            <span class="answers-section-h2 answers-section-h2--color"> LIVE </span>
          </h2>

          <div>
            @if (!hasPreviewResults()) {
              <div class="no-answers-div">
                <p class="no-answers-div__header">
                  Results will be shown here after participants complete the survey.
                </p>

                <p class="no-answers-div__header no-answers-div__header--text">
                  There are no answers yet.
                </p>
              </div>
            } @else {
              @for (question of survey().questions; track question.id) {
                <p class="question question--answer">{{ $index + 1 }}. {{ question.question }}</p>

                <ol type="A">
                  @for (answer of question.answers; track answer.id) {
                    <li class="answers">
                      <progress
                        class="progress-bar"
                        [value]="getAnswerPercentage(question.id, answer.id)"
                        max="100"
                      ></progress>

                      <span class="answers--number">
                        {{ getAnswerPercentage(question.id, answer.id) }}%
                      </span>
                    </li>
                  }
                </ol>
              }
            }
          </div>
        </article>
      </div>
    </div>
  </section>
</section>
