<section class="main-surveys">
  <h2 class="your-surves-h2">Your surveys</h2>
  <section class="ending-surveys-section">
    <p class="sub-headline">Ending soon surveys</p>
    <div class="ending-surveys">
      @if (this.filterservice.sortNextThreeExpDay().length == 0) {
        <p>No surveys avilable</p>
        <!-- #TODO Style -->
      } @else {
        @for (survey of this.filterservice.sortNextThreeExpDay(); track survey.id) {
          <div class="survey">
            <div class="survey-detail">
              <p class="category">{{ survey.category }}</p>
              <h3 class="survey-header">{{ survey.surveyHeadline }}</h3>
              <span class="ending-batch"
                >Ends in {{ survey.surveyEnds }}
                @if (survey.surveyEnds == 1) {
                  Day
                } @else {
                  Days
                }
              </span>
            </div>
          </div>
        }
      }
    </div>
  </section>
</section>
