<section class="main-surveys">
  <h2 class="your-surves-h2">Your surveys</h2>
  <section class="ending-surveys-section">
    <p class="sub-headline">Ending soon surveys</p>
    <div class="ending-surveys">
      <div class="survey">
        <div class="survey-detail">
          <p class="category">Team activities</p>
          <h3 class="survey-header">Let’s Plan the Next Team Event Together</h3>
          <span class="ending-batch"
            >Ends in {{ day }}
            @if (day == 1) {
              Day
            } @else {
              Days
            }
          </span>
        </div>
      </div>
      <div class="survey">
        <div class="survey-detail">
          <p class="category">Health & Wellness</p>
          <h3 class="survey-header">Fit & wellness survey!</h3>
          <span class="ending-batch"
            >Ends in {{ day }}
            @if (day == 1) {
              Day
            } @else {
              Days
            }
          </span>
        </div>
      </div>
      <div class="survey">
        <div class="survey-detail">
          <p class="category">Gaming & Entertainment</p>
          <h3 class="survey-header">Gaming habits and favorite games!</h3>
          <span class="ending-batch"
            >Ends in {{ day }}
            @if (day == 1) {
              Day
            } @else {
              Days
            }
          </span>
        </div>
      </div>
    </div>
  </section>
  <section class="all-surveys"></section>
</section>
