.main-surveys {
  margin: 0px 16px 32px 16px;
}

.your-surves-h2 {
  font-family: 'Nerko-One';
  font-size: 72px;
  color: var(--primary-color-orange);
  text-align: center;
}

.ending-surveys-section {
  margin: 0px 16px;
  display: flex;
  flex-direction: column;
}

.sub-headline {
  font-family: 'Mulish-Medium';
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
  margin: 40px 0px 32px 0px;
}

.ending-surveys {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.survey {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 321px;
  height: 320px;
  background-color: var(--bg-color-card);
  border-top-right-radius: 80px;

  &:hover {
    background-color: rgba(244, 233, 251, 1);
  }
}

.survey-detail {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 233px;
  margin-top: -32px;
  height: 210px;
  border-radius: 1px;
}

.category {
  font-family: 'Mulish-Semibold';
  font-size: 16px;
  margin-bottom: 16px;
  color: rgba(53, 39, 58, 1);
}

.survey-header {
  font-family: 'Mulish-Bold';
  font-size: 24px;
}

.ending-batch {
  position: absolute;
  font-family: 'Mulish-Medium';
  font-size: 16px;
  bottom: 0px;
  background-color: var(--secondary-color-orange);
  padding: 3px 6px;
  border-top-right-radius: 14px;
}
