@media (max-height: 768px) {
  .new-survey-section {
    height: unset;
  }

  .content-container {
    height: unset;
  }

  .survey-header {
    margin-top: 24px;
  }

  footer {
    margin-bottom: 16px;
  }

  .form-content {
    max-height: unset;
  }

  .describing-section {
    margin: 16px 0px;
  }
}

@media (max-width: 1100px) {
  form {
    max-width: 934px;
  }

  .survey-header {
    width: 934px;
    max-width: 100%;
  }

  .content-container {
    width: calc(100% - 64px);
  }

  .describing-section {
    width: 94%;
  }

  .question {
    max-width: 43%;
  }

  .form-content {
    width: 100%;
  }

  footer {
    width: 934px;
    max-width: 100%;
  }
}

@media (max-width: 950px) {
  .new-survey-section {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;

    position: absolute;
    top: 96px;
  }

  .content-container {
    width: calc(100% - 32px);
    max-width: none;
    height: auto;
  }

  .form-content {
    width: 100%;
    max-width: none;
    height: auto;
  }

  .describing-section {
    flex-direction: column;
    margin-top: 16px;
  }

  .date-category-form {
    flex-direction: column-reverse;
    height: 140px;
  }

  .input--enddate {
    width: unset;
  }

  .category-select__button > span {
    justify-content: start;
  }

  .name-date-form {
    width: unset;
  }

  .new-survey-body {
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;

    background-color: rgb(255, 255, 255);
    overflow: scroll;
  }

  .describing-section {
    gap: unset;
  }

  .button-area {
    margin-right: 16px;
  }

  form {
    width: 97%;
  }

  .survey-header {
    width: 95%;
    margin-top: 32px;
  }

  footer {
    width: 96%;
    margin-bottom: 32px;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .error-message {
    transition: all ease-in-out 500ms;
    margin-right: unset;
    margin-top: 8px;
  }

  .cancel-button {
    width: 40px;

    > span {
      display: none;
    }
  }

  .mobile-image {
    display: block;
    position: absolute;

    position: ab;
    top: 24px;
    left: 24px;

    z-index: 1000;
  }

  body-card-mobile {
    position: relative;
    inset: 0;
  }

  .question {
    max-width: 99%;
  }

  .answers ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
    counter-reset: answer;
  }

  .answer-list {
    counter-increment: answer;

    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    padding-top: 40px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .answer-list::before {
    content: counter(answer, upper-alpha) '.';

    position: absolute;
    top: 0;
    left: 0;

    color: rgba(254, 253, 255, 1);
    font-family: 'Mulish-Bold';
    font-size: 24px;
  }

  .answer-list > .input__img {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;
  }

  .answer-list--margin {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }

  .question-section {
    display: flex;
    flex-direction: column;
    width: 95%;
    flex-wrap: nowrap;
    max-height: unset;
    overflow-x: hidden;
  }

  .btn-img {
    position: absolute;
    opacity: 1;
    top: 11px;
    right: 16px;

    // Beim Verlassen: sehr schnell ausblenden
    transition: opacity 100ms ease-in;
  }

  .btn {
    width: 90px;
    transition: all ease-in-out 350ms;

    &:hover {
      width: 90px;
      text-align: unset;
      background-color: var(--secondary-color-orange);

      .btn-img {
        opacity: 1;
        transition: unset;
      }
    }
  }

  .answer__add {
    flex-direction: column;
  }

  .add-more-questions-btn {
    margin-left: unset;
    margin-bottom: 8px;
    width: 115px;
  }
}

@media (max-height: 680px) {
  form {
    width: 97%;
    margin: 6px 0px;
  }

  footer {
    margin-right: 28px;
  }

  .survey-header {
    margin-top: 24px;
  }

  .new-survey-h1 {
    font-size: 40px;
  }
  .form-content {
    margin: 0px 8px;
  }
}

@media (max-width: 520px) {
  .survey-header {
    margin-top: 24px;
  }

  .new-survey-h1 {
    font-size: 32px;
  }

  .batch {
    width: 40px;
    height: 17px;
    margin-bottom: 4px;
  }

  .button-area {
    align-items: start;
    margin-right: 40px;
  }

  .cancel-button {
    width: 30px;
    height: 30px;
  }

  .h1-card {
    max-width: 75%;
  }
}
