<div class="new-survey-body">
  <section class="new-survey-section">
    <div class="content-container">
      <header class="survey-header">
        <div>
          <p class="batch">Draft</p>
          <h1 class="new-survey-h1">Create new survey</h1>
        </div>

        <div class="button-area">
          <a
            type="button"
            (click)="surveyForm.reset(); closeCreateSurvey.emit()"
            class="cancel-button"
          >
            <span>Cancel</span>
            <img src="/assets/close.svg" alt="" />
          </a>
        </div>
      </header>

      <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
        <div class="form-content">
          <article class="describing-section">
            <div class="name-date-form">
              <!-- Input name -->
              <label for="name">Survey name</label>
              <div class="input">
                <input class="input__field" id="name" type="text" />
                <div class="input__img">
                  <img class="input__img" src="/assets/delete_white.svg" alt="" />
                  <img class="input__img--hover" src="/assets/delete_orange.svg" alt="" />
                </div>
              </div>

              <!-- Input date -->
              <div class="date-category-form">
                <div>
                  <label for="enddate">Set end date (optional)</label>
                  <div class="input input--enddate">
                    <input id="enddate" class="input__field" type="date" />
                    <div class="input__img">
                      <img class="input__img" src="/assets/delete_white.svg" alt="" />
                      <img class="input__img--hover" src="/assets/delete_orange.svg" alt="" />
                    </div>
                  </div>
                </div>

                <!-- select category -->
                <div class="category-select">
                  <button
                    type="button"
                    class="category-select__button"
                    (click)="categoryIsShown.set(!categoryIsShown())"
                    [class.isActive]="categoryIsShown()"
                  >
                    <span>
                      Sort by categories
                      <span
                        class="category-select__button--state"
                        [class.isActive]="categoryIsShown()"
                      >
                        <img
                          class="img-white"
                          src="/assets/arrow_drop_down-down-white.svg"
                          alt=""
                        />
                        <img
                          class="img-hover"
                          src="/assets/arrow_drop_down-down-orange.svg"
                          alt=""
                        />
                        <img class="img-open" src="/assets/arrow_drop_down-up-orange.svg" alt="" />
                      </span>
                    </span>
                  </button>

                  <ul class="category-select__list" [class.isActive]="categoryIsShown()">
                    @for (categorie of categorylist; track categorie) {
                      <li (click)="categoryIsShown.set(!categoryIsShown()); setCategory(categorie)">
                        {{ categorie }}
                      </li>
                    }
                  </ul>
                </div>
              </div>
            </div>

            <!-- Description -->
            <div class="description-form">
              <label for="describing">Describing text (optional)</label>
              <div class="input input--description">
                <textarea id="describing" class="input__field input__field--description"></textarea>
                <div class="input__img">
                  <img class="input__img" src="/assets/delete_white.svg" alt="" />
                  <img class="input__img--hover" src="/assets/delete_orange.svg" alt="" />
                </div>
              </div>
            </div>
          </article>

          <section class="question-section">
            @for (question of questionIndexes; track $index) {
            <div class="question">
              <!-- Question -->
              <section class="question-head">
                <div class="question-head--asked-question">
                  <label for="question">{{ $index + 1 }}. Question</label>
                  <div class="input__img">
                    <img class="input__img" src="/assets/delete_white.svg" alt="" />
                    <img class="input__img--hover" src="/assets/delete_orange.svg" alt="" />
                  </div>
                </div>
                <input class="input__field" type="text" name="" id="question" />
              </section>
              <!-- Answers -->
              <section class="answers-sectiom">
                <div class="answer__head">
                  <label>Answers</label>
                  <span class="answer__checkbox--text"
                    ><input class="answer__checkbox--checkbox" type="checkbox" /> Allow multiple
                    answers.</span
                  >
                </div>

                <div class="answers">
                  <ol type="A">
                    @for (question of answerIndexes; track $index) {
                      <li class="answer-list">
                        <input class="input__field answer-list--margin" type="text" />
                        <div class="input__img">
                          <img class="input__img" src="/assets/delete_white.svg" alt="" />
                          <img class="input__img--hover" src="/assets/delete_orange.svg" alt="" />
                        </div>
                      </li>
                    }
                  </ol>
                  <a class="add-more-questions-btn" href="">Add answer <img src="/assets/add_white.svg" alt=""></a>
                </div>
              </section>
            </div>
            }
           
            <a  class="add-question-button" href=""><span>Add next question</span><img src="/assets/add_white.svg" alt="" /></a>
          
          </section>
        </div>
      </form>

      <footer>
        <a type="submit" class="btn">
          Publish
          <img class="btn-img" src="/assets/check.svg" alt="" />
        </a>
      </footer>
    </div>
  </section>
</div>
