@media (max-height: 768px) {
  .new-survey-section {
    height: unset;
  }

  .content-container {
    height: unset;
  }

  .survey-header {
    margin-top: 24px;
  }

  footer {
    margin-bottom: 16px;
  }

  .form-content {
    max-height: unset;
  }

  .describing-section {
    margin: 16px 0px;
  }
}

@media (max-width: 1100px) {
  form {
    max-width: 934px;
  }

  .survey-header {
    width: 934px;
  }

  .content-container {
    width: 100%;
  }

  .describing-section {
    width: 95%;
  }

  .question {
    max-width: 43%;
  }

  .form-content {
    margin-left: 16px;
  }

  footer {
    width: 934px;
  }
}

@media (max-width: 950px) {
  .describing-section {
    flex-direction: column;
  }

  .date-category-form {
    flex-direction: column-reverse;
    height: 140px;
  }

  .input--enddate {
    width: unset;
  }

  .category-select__button > span {
    justify-content: start;
  }

  .name-date-form {
    width: unset;
  }

  .new-survey-body {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-top: 450px;
    box-sizing: border-box;

    background-color: rgb(255, 255, 255);
  }

  .button-area {
    margin-right: 16px;
  }

  .new-survey-section {
    width: 100%;
    margin: 0;
  }

  form {
    width: 97%;
  }

  .survey-header {
    width: 95%;
  }

  footer {
    width: 96%;
  }

  .cancel-button {
    width: 40px;

    > span {
      display: none;
    }
  }

  .mobile-image {
    display: block;

    position: fixed;
    top: 24px;
    left: 24px;

    z-index: 1000;
  }
}

@media (max-height: 680px) {
  form {
    width: 97%;
    margin: 6px 0px;
  }

  footer {
    margin-right: 28px;
  }

  .survey-header {
    margin-top: 24px;
  }

  .new-survey-h1 {
    font-size: 40px;
  }
  .form-content {
    margin: 0px 8px;
  }

  .question-section {
    max-height: 250px;
  }
}

@media (max-width: 520px) {
  .survey-header {
    margin-top: 24px;
  }

  .new-survey-h1 {
    font-size: 32px;
  }

  .batch {
    width: 40px;
    height: 17px;
    margin-bottom: 4px;
  }

  .button-area {
    align-items: start;
    margin-right: 40px;
  }

  .cancel-button {
    width: 30px;
    height: 30px;
  }

  .h1-card {
    max-width: 75%;
  }
}
