.new-survey-body {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
}

.content-container {
  max-width: 1052px;
  width: calc(100% - 32px);
  height: 97%;
  min-width: 0;
}

.new-survey-section {
  max-width: 1166px;
  width: calc(100% - 32px);
  height: 844px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  background-color: var(--primary-color-purple);
  border-radius: 5px 100px 5px 5px;
  margin: 16px;
}

.survey-header {
  display: flex;
  justify-content: space-between;

  max-width: 1052px;
  width: 100%;
  height: 87px;

  min-width: 0;
}

.batch {
  font-family: 'Mulish-Medium';
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 22px;

  bottom: 0px;

  background-color: var(--secondary-color-orange);

  padding: 3px 6px;
  border-top-right-radius: 14px;
  margin-bottom: 8px;
}

.new-survey-h1 {
  color: rgba(238, 146, 54, 1);
  font-family: 'Nerko-One';
  font-size: 56px;
  letter-spacing: 0.02em;
}

.button-area {
  height: 100%;

  display: flex;
  align-items: end;
}

.cancel-button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgba(255, 183, 112, 0.3);

  width: 108px;
  height: 40px;

  border-radius: 10px;

  transition: all ease-in-out 250ms;
  cursor: pointer;

  &:hover {
    background-color: rgba(174, 126, 90);
  }

  > span {
    color: rgba(254, 253, 255, 1);
    font-family: 'Nokora-bold';
    font-size: 16px;
  }

  > img {
    width: 16px;
    height: 16px;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  height: 100%;

  min-width: 0;

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-color-orange);
    box-shadow: 3px 3px 3.2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color-orange);
  }
}

.form-content-scroll {
  margin: 40px 0 24px 0;

  border-radius: 5px 100px 5px 5px;
  background-color: rgba(142, 112, 153, 0.16);

  width: 100%;
  min-width: 0;

  flex: 1;
  min-height: 0;

  overflow: hidden;
}

.form-content {
  max-width: 976px;
  width: calc(100% - 32px);
  
  padding: 24px 0;
  box-sizing: border-box;

  min-width: 0;
}

.describing-section {
  display: flex;
  gap: 48px;

  width: 100%;
  min-width: 0;

  margin-bottom: 40px;
}

.name-date-form {
  display: flex;
  flex-direction: column;

  width: 470px;
  max-width: 100%;

  min-width: 0;
}

.description-form {
  flex: 1;
  min-width: 0;
  height: 100%;
}

label {
  color: rgba(254, 253, 255, 1);
  font-family: 'Mulish-Bold';
  font-size: 18px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 0;

  &--enddate {
    width: 250px;
    max-width: 100%;
  }

  &--description {
    align-items: unset;
  }

  &__field {
    margin: 4px 0px 12px 0px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px 20px 5px 5px;
    border: 1px solid transparent;

    width: 100%;
    min-width: 0;

    box-sizing: border-box;

    &:focus {
      background-color: rgba(254, 233, 212, 1);
      border: 1px solid transparent;
      outline: none;
    }

    &[type='text'] {
      color: var(--primary-color-purple);
      font-family: 'Mulish-Regular';
    }

    &--description {
      height: 92px;
    }

    &--error {
      border: 1px solid red;
      background-color: rgba(255, 0, 0, 0.08);

      &:focus {
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.08);
      }
    }
  }

  &__img {
    position: relative;

    width: 21px;
    height: 23px;

    flex-shrink: 0;

    margin-bottom: 4px;
    margin-left: 4px;

    cursor: pointer;

    transition: all ease-in-out 300ms;

    &:hover {
      .input__img--hover {
        opacity: 1;
      }
    }

    &--hover {
      position: absolute;
      inset: 0;

      width: 21px;
      height: 23px;

      opacity: 0;

      margin-left: 4px;
    }
  }
}

.date-category-form {
  display: flex;
  justify-content: space-between;

  min-width: 0;
}

footer {
  position: relative;

  max-width: 1052px;
  width: 100%;

  display: flex;
  justify-content: end;
  align-items: center;

  box-sizing: border-box;
}

.btn-img {
  position: absolute;

  opacity: 0;

  top: 11px;
  right: 16px;

  transition: opacity 100ms ease-in;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-family: 'Nokora-bold';
  font-weight: 700;
  padding: 12px 16px;
  border-radius: 10px;
  color: rgba(34, 18, 39, 1);
  background-color: var(--secondary-color-orange);
  width: 60px;
  transition: all ease-in-out 250ms;

  &:hover {
    width: 80px;
    text-align: start;
    background-color: var(--primary-color-orange);

    .btn-img {
      opacity: 1;
      transition: opacity 100ms ease-in-out 200ms;
    }
  }
}

.category-select {
  position: relative;

  &__button {
    cursor: pointer;

    background-color: unset;

    border: 1px solid transparent;
    border-radius: 6px;

    width: 206px;
    max-width: 100%;
    height: 32px;

    color: rgba(255, 255, 255, 1);

    font-family: 'Mulish-Bold';
    font-size: 18px;

    transition: all ease-in-out 200ms;

    &.isActive {
      border-radius: 6px;
      background-color: rgba(217, 217, 217, 0.12);
    }

    &--state {
      position: relative;

      width: 24px;
      height: 24px;

      flex-shrink: 0;

      margin-left: 8px;

      &.isActive {
        .img-hover,
        .img-white {
          opacity: 0;
        }

        .img-open {
          opacity: 1;
        }
      }
    }

    &:not(.isActive):hover {
      border-radius: 6px;
      background-color: rgba(217, 217, 217, 0.12);

      .img-hover {
        opacity: 1;
      }

      .img-white {
        opacity: 0;
      }
    }

    > span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__list {
    position: absolute;

    width: 206px;
    max-width: 100%;

    list-style: none;

    font-size: 16px;

    margin-top: 4px;

    font-style: 'Mulish-Regular';

    color: rgba(53, 39, 58, 1);
    background-color: rgba(255, 255, 255, 1);

    border-radius: 6px;

    opacity: 0;
    pointer-events: none;

    transition: opacity 200ms ease-in-out;

    cursor: pointer;

    &.isActive {
      opacity: 1;
      pointer-events: all;
      z-index: 9999;
    }

    > li {
      margin-left: 4px;
      padding: 5px 8px;

      width: fit-content;

      &:hover {
        background-color: rgba(244, 233, 251, 1);
        border-radius: 6px;
      }
    }
  }

  &--error {
    .category-select__button {
      border: 1px solid red;
    }
  }
}

.img-white {
  position: absolute;
  inset: 0;
}

.img-hover {
  position: absolute;
  inset: 0;

  opacity: 0;
}

.img-open {
  position: absolute;
  inset: 0;

  opacity: 0;
}

.used-category {
  position: absolute;

  left: 12px;

  font-style: 'Mulish-Regular';
  font-size: 16px;

  color: var(--primary-color-orange);
}

dialog {
  position: fixed;

  width: 357px;
  max-width: calc(100% - 32px);

  min-height: 86px;

  margin: 0;
  padding: 0;

  top: auto;
  left: auto;

  border: none;

  border-radius: 5px 50px 5px 5px;

  background-color: rgba(254, 233, 212, 1);

  animation: slideInFromRight 0.4s ease-out;

  section {
    padding: 24px;
  }
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.35);
}

@keyframes slideInFromRight {
  from {
    transform: translateX(120%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.dialog-section {
  display: flex;
  justify-content: space-between;

  > p {
    font-family: 'Nerko-One';
    color: rgba(53, 39, 58, 1);
    font-size: 24px;
  }

  > img {
    cursor: pointer;

    width: 24px;
    height: 24px;
  }
}

.mobile-image {
  display: none;
}

.question-section {
  display: flex;

  max-width: 986px;
  width: 100%;

  min-width: 0;

  column-gap: 88px;
  row-gap: 16px;

  flex-wrap: wrap;
}

.question-head {
  display: flex;
  flex-direction: column;

  min-width: 0;

  &--asked-question {
    display: flex;
    justify-content: space-between;

    min-width: 0;
  }
}

.question {
  max-width: 429px;
  width: 100%;

  min-width: 0;

  margin-bottom: 16px;
}

.answer {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 8px 0px;

    width: 100%;
    min-width: 0;
  }

  &__add {
    display: flex;
    justify-content: space-between;

    color: rgba(255, 255, 255, 1);

    font-size: 14px;
    font-family: 'Mulish-Regular';
  }

  &__checkbox {
    &--text {
      display: flex;
      align-items: center;

      color: rgba(255, 255, 255, 1);

      font-size: 14px;
      font-family: 'Mulish-Regular';
    }

    &--checkbox {
      appearance: none;

      width: 18px;
      height: 18px;

      flex-shrink: 0;

      margin-right: 4px;

      background-image: url('../../../assets/checkbox_unchecked_white.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      cursor: pointer;

      &:hover {
        background-image: url('../../../assets/checkbox_hover.svg');
      }

      &:checked {
        background-image: url('../../../assets/checkbox_checked.svg');
      }
    }
  }
}

.answers {
  ol {
    list-style: none;

    padding: 0;
    margin-bottom: 10px;

    counter-reset: answer;
  }

  .answer-list {
    counter-increment: answer;

    display: flex;
    align-items: center;

    gap: 10px;

    min-width: 0;

    &--margin {
      margin-bottom: 4px;
    }

    &::before {
      content: counter(answer, upper-alpha) '.';

      color: rgba(254, 253, 255, 1);

      font-size: 18px;
      font-family: 'Mulish-Regular';

      line-height: 1;

      width: 20px;

      flex-shrink: 0;
    }
  }
}

.add-more-questions-btn {
  position: relative;

  color: rgba(254, 253, 255, 1);

  font-family: 'Nokora-bold';
  font-size: 16px;

  border-bottom: 1px solid currentColor;

  margin-left: 30px;

  cursor: pointer;

  &::before {
    content: '';

    position: absolute;

    top: -6px;
    right: -8px;
    bottom: -6px;
    left: -8px;

    background-color: rgba(250, 245, 254, 0.2);

    opacity: 0;

    transition: opacity 0.15s ease;
  }

  &:hover::before {
    opacity: 1;
  }
}

.add-question-button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgba(255, 183, 112, 0.3);

  width: 195px;
  max-width: 100%;

  height: 40px;

  border-radius: 10px;

  margin-bottom: 24px;

  transition: all ease-in-out 250ms;

  cursor: pointer;

  &:hover {
    background-color: rgba(174, 126, 90);
  }

  > span {
    color: rgba(254, 253, 255, 1);

    font-family: 'Nokora-bold';
    font-size: 16px;
  }

  > img {
    width: 16px;
    height: 16px;
  }
}

.error-message {
  color: rgb(209, 8, 8);

  font-family: 'Nokora-bold';

  margin-right: 24px;
}

@media (max-height: 768px) {
  .new-survey-section {
    height: unset;
  }

  .content-container {
    height: unset;
  }

  .survey-header {
    margin-top: 24px;
  }

  footer {
    margin-bottom: 16px;
  }

  .form-content {
    max-height: unset;
  }

  .describing-section {
    margin: 16px 0px;
  }
}

@media (max-width: 1100px) {
  form {
    max-width: 934px;
    width: 100%;
  }

  .survey-header {
    max-width: 934px;
    width: 100%;
  }

  .content-container {
    width: calc(100% - 32px);
  }

  .describing-section {
    width: 100%;
  }

  .question {
    max-width: calc(50% - 44px);
  }

  footer {
    max-width: 934px;
    width: 100%;
  }
}

@media (max-width: 950px) {
  .new-survey-section {
    width: 100%;
    max-width: 100%;

    height: auto;

    margin: 0;

    position: absolute;

    top: 96px;

    border-radius: 5px 100px 5px 5px;
  }

  .content-container {
    width: calc(100% - 32px);
    max-width: 100%;

    height: auto;
  }

  .form-content {
    width: 100%;

    height: auto;
    max-height: none;
  }

  .describing-section {
    width: 100%;

    flex-direction: column;

    margin-top: 16px;

    gap: unset;
  }

  .date-category-form {
    flex-direction: column-reverse;

    height: 140px;
  }

  .input--enddate {
    width: 100%;
  }

  .category-select__button > span {
    justify-content: start;
  }

  .name-date-form {
    width: 100%;
  }

  .new-survey-body {
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    box-sizing: border-box;

    background-color: rgb(255, 255, 255);

    overflow-y: auto;
    overflow-x: hidden;
  }

  .button-area {
    margin-right: 16px;
  }

  form {
    width: 100%;
  }

  .survey-header {
    width: 100%;

    margin-top: 32px;
  }

  footer {
    width: 100%;

    margin-bottom: 32px;

    justify-content: center;
    flex-direction: column-reverse;
  }

  .error-message {
    transition: all ease-in-out 500ms;

    margin-right: unset;
    margin-top: 8px;
  }

  .cancel-button {
    width: 40px;

    > span {
      display: none;
    }
  }

  .mobile-image {
    display: block;

    position: absolute;

    top: 24px;
    left: 24px;

    z-index: 1000;
  }

  .question {
    max-width: 100%;
  }

  .answers ol {
    list-style: none;

    padding-left: 0;
    margin: 0;

    counter-reset: answer;
  }

  .answer-list {
    counter-increment: answer;

    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;

    padding-top: 40px;
    margin-bottom: 16px;

    box-sizing: border-box;
  }

  .answer-list::before {
    content: counter(answer, upper-alpha) '.';

    position: absolute;

    top: 0;
    left: 0;

    color: rgba(254, 253, 255, 1);

    font-family: 'Mulish-Bold';
    font-size: 24px;
  }

  .answer-list > .input__img {
    position: absolute;

    top: 0;
    right: 0;

    margin: 0;
  }

  .answer-list--margin {
    width: 100%;

    margin: 0;

    box-sizing: border-box;
  }

  .question-section {
    display: flex;
    flex-direction: column;

    width: 100%;

    flex-wrap: nowrap;

    max-height: unset;

    overflow-x: hidden;
  }

  .btn-img {
    position: absolute;

    opacity: 1;

    top: 11px;
    right: 16px;

    transition: opacity 100ms ease-in;
  }

  .btn {
    width: 90px;

    transition: all ease-in-out 350ms;

    &:hover {
      width: 90px;

      text-align: unset;

      background-color: var(--secondary-color-orange);

      .btn-img {
        opacity: 1;

        transition: unset;
      }
    }
  }

  .answer__add {
    flex-direction: column;
  }

  .add-more-questions-btn {
    margin-left: unset;
    margin-bottom: 8px;

    width: 115px;
  }
}

@media (max-height: 680px) {
  form {
    width: 100%;

    margin: 6px 0px;
  }

  footer {
    margin-right: 0;
  }

  .survey-header {
    margin-top: 24px;
  }

  .new-survey-h1 {
    font-size: 40px;
  }

  .form-content {
    margin: 0;
  }
}

@media (max-width: 520px) {
  .survey-header {
    margin-top: 24px;
  }

  .new-survey-h1 {
    font-size: 32px;
  }

  .batch {
    width: 40px;
    height: 17px;

    margin-bottom: 4px;
  }

  .button-area {
    align-items: start;

    margin-right: 0;
  }

  .cancel-button {
    width: 30px;
    height: 30px;
  }

  .h1-card {
    max-width: 75%;
  }
}
