@media (max-height: 768px) {
  .new-survey-section {
    height: unset;
  }

  .content-container {
    height: unset;
  }

  .survey-header {
    margin-top: 24px;
  }

  footer[_ngcontent-ng-c2185413282] {
    margin-bottom: 16px;
  }

  .form-content {
    max-height: unset;
  }

  .describing-section[_ngcontent-ng-c2185413282] {
    margin: 16px 0px;
  }
}
