.new-survey-body {
  height: 100vh;
  width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 1052;
  height: 668px;
}

.new-survey-section {
  width: 1166px;
  height: 844px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-purple);
  border-radius: 5px 100px 5px 5px;
  margin: 16px;
}

.survey-header {
  display: flex;
  justify-content: space-between;
  width: 1052px;
  height: 87px;
}

.batch {
  font-family: 'Mulish-Medium';
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 22px;
  bottom: 0px;
  background-color: var(--secondary-color-orange);
  padding: 3px 6px;
  border-top-right-radius: 14px;
  margin-bottom: 8px;
}

.new-survey-h1 {
  color: rgba(238, 146, 54, 1);
  font-family: 'Nerko-One';
  font-size: 56px;
  letter-spacing: 0.02em;
}

.button-area {
  height: 100%;
  display: flex;
  align-items: end;
}

.cancel-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 183, 112, 0.3);
  width: 108px;
  height: 40px;
  border-radius: 10px;
  transition: all ease-in-out 250ms;

  &:hover {
    background-color: rgba(174, 126, 90);
  }
  > span {
    color: rgba(254, 253, 255, 1);
    font-family: 'Nokora-bold';
    font-size: 16px;
  }

  > img {
    width: 16px;
    height: 16px;
  }
}
