/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color-purple: rgba(53, 39, 58, 1);
  --primary-color-orange: rgba(255, 183, 112, 1);
  --secondary-color-orange: rgba(255, 207, 161, 1);
  --bg-color-card: rgba(250, 245, 254, 1);
  --white-color: rgba(255, 255, 255, 1);
}

@font-face {
  font-family: 'Mulish-Bold';
  src: url('../public/Font/Mulish/Mulish-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Extralight';
  src: url('../public/Font/Mulish/Mulish-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Light';
  src: url('../public/Font/Mulish/Mulish-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Medium';
  src: url('../public/Font/Mulish/Mulish-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Regular';
  src: url('../public/Font/Mulish/Mulish-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Semibold';
  src: url('../public/Font/Mulish/Mulish-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nerko-One';
  src: url('../public/Font/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nokora-Regular';
  src: url('../public/Font/Nokora//Nokora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nokora-bold';
  src: url('../public/Font/Nokora/Nokora-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nokora';
  src: url('../public/Font/Nokora/Nokora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish-Regular', Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

.background-color {
  &--primary {
    background-color: var(--primary-color-purple);
  }
}

.content-container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
