@media (max-width: 1024px) {
  .survey {
    width: 470px;
  }

  .all-surveys {
    width: unset;
  }

  .survey-detail {
    margin: 0px 16px;
}

}

@media (max-width: 505px) {

  nav {
    flex-direction: column;
  }

  app-all-surveys {
    width: 100%;
  }


}