<section class="all-surveys-section">
  <nav>
    <div class="survey-badge">
      <a
        class="survey-badge survey-badge__design"
        (click)="filterservice.activeSurvey.set(!filterservice.activeSurvey()); filterSurveyList(filterservice.pastSurvey(), filterservice.activeSurvey(),activeStatCategory)"
        [class.isActive]="filterservice.activeSurvey()"
        >Active survey</a
      >
      <a
        class="survey-badge survey-badge__design"
        (click)="filterservice.pastSurvey.set(!filterservice.pastSurvey()); filterSurveyList(filterservice.pastSurvey(), filterservice.activeSurvey(),activeStatCategory)"
        [class.isActive]="filterservice.pastSurvey()"
        >Past survey</a
      >
    </div>

    <div class="category-select">
      <button
        class="category-select__button"
        (click)="categoryIsActive.set(!categoryIsActive())"
        [class.isActive]="categoryIsActive()"
      >
        <span
          >Sort by categories
          <div class="category-select__button--state" [class.isActive]="categoryIsActive()">
            <img class="img-white" src="/assets/arrow_drop_down-down-white.svg" alt="" />
            <img class="img-hover" src="/assets/arrow_drop_down-down-orange.svg" alt="" />
            <img class="img-open" src="/assets/arrow_drop_down-up-orange.svg" alt="" />
          </div>
        </span>
      </button>
      <p class="used-category">{{ usedCategory() }}</p>

      <ul class="category-select__list" [class.isActive]="categoryIsActive()">
        @for (categorie of categorylist; track categorie) {
          <li (click)="filterSurveyList(filterservice.pastSurvey(), filterservice.activeSurvey(),categorie)">{{ categorie }}</li>
        }
      </ul>
    </div>
  </nav>
  <div class="all-surveys">
    @for (survey of sortedSurveylist(); track survey.surveyHeadline) {
      <article class="survey">
        <div class="survey-detail">
          <p class="category">{{ survey.category }}</p>
          <h3 class="survey-header">{{ survey.surveyHeadline }}</h3>
          <span class="ending-batch"
            >Ends in {{ survey.endDate | date }}
            @if (day == 1) {
              Day
            } @else {
              Days
            }
          </span>
        </div>
      </article>
    }
  </div>
</section>
