.all-surveys-section {
  max-width: 1042px;
  margin: 0px 16px 128px 16px;
  height: 482px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 6px;
  margin-bottom: 8px;
}

.category-select {
  position: relative;

  &__button {
    cursor: pointer;
    background-color: unset;
    border: none;
    width: 206px;
    height: 32px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Mulish-Bold';
    font-size: 18px;
    transition: all ease-in-out 200ms;

    &.isActive {
      border-radius: 6px;
      background-color: rgba(217, 217, 217, 0.12);
    }

    &--state {
      position: relative;
      width: 24px;
      height: 24px;
      margin-left: 8px;

      &.isActive {
        .img-hover,
        .img-white {
          opacity: 0;
        }
        .img-open {
          opacity: 1;
        }
      }
    }

    &:not(.isActive):hover {
      border-radius: 6px;
      background-color: rgba(217, 217, 217, 0.12);
      .img-hover {
        opacity: 1;
      }
      .img-white {
        opacity: 0;
      }
    }

    > span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__list {
    position: absolute;
    width: 206px;
    list-style: none;
    font-size: 16px;
    margin-top: 4px;
    font-style: 'Mulish-Regular';
    color: rgba(53, 39, 58, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;

    &.isActive {
      opacity: 1;
      pointer-events: all;
      z-index: 9999;
    }

    > li {
      margin-left: 4px;
      padding: 5px 8px;
      width: fit-content;

      &:hover {
        background-color: rgba(244, 233, 251, 1);
        border-radius: 6px;
      }
    }
  }
}

.img-white {
  position: absolute;
  right: 0px;
  inset: 0;
}

.img-hover {
  position: absolute;
  right: 0px;
  inset: 0;
  opacity: 0;
}

.img-open {
  position: absolute;
  inset: 0;
  right: 0px;
  opacity: 0;
}

.used-category {
  position: absolute;
  left: 12px;
  font-style: 'Mulish-Regular';
  font-size: 16px;
  color: var(--primary-color-orange);
}

.survey-badge {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 2px 10px;
  border-radius: 20px;
  font-family: 'Nokora-Regular';
  font-size: 16px;
  color: rgba(53, 39, 58, 1);

  &__design {
    background-color: rgba(254, 233, 212, 1);

    &:hover {
      background-color: var(--secondary-color-orange);
    }

    &.isActive {
      background-color: var(--primary-color-orange);
    }
  }
}

.all-surveys {
  margin: 32px 0px 0px 16px;
  display: flex;
  height: 422px;
  overflow-y: auto;
  gap: 16px;
  flex-wrap: wrap;
}

.survey {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 493px;
  height: 130px;
  background-color: rgba(217, 217, 217, 0.08);
  border-radius: 5px 50px 5px 5px;

  &:hover {
    background-color: rgba(217, 217, 217, 0.16);
  }
}

.survey-detail {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 473px;
  height: 104px;
  border-radius: 1px;
}

.category {
  font-family: 'Mulish-Medium';
  color: var(--secondary-color-orange);
  font-size: 16px;
  margin-bottom: 4px;
}

.survey-header {
  font-family: 'Mulish-Bold';
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}

.ending-batch {
  position: absolute;
  font-family: 'Mulish-Medium';
  font-size: 16px;
  bottom: 0px;
  right: 0px;
  background-color: var(--secondary-color-orange);
  padding: 3px 6px;
  border-top-right-radius: 14px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 64px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color-orange);
  box-shadow: 3px 3px 3.2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-orange);
}
